.footer{
    background-color: #10ac84;
    width: 100%;
    min-height: 100px;
    bottom:0px;
    margin-top: 20px;
}

.err-image{
    width: 100%;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}
}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


.navbar {
	position:relative;
	min-height:75px;
	margin-bottom:20px;
	border:none;
    box-shadow: 3px 3px 5px #888888;

}

.navbar-brand {
	float:left;
	height:75px;
	padding:15px 15px;
	font-size:18px;
	line-height:20px
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 20.5px;
  padding: 9px 10px !important;
}

.search-tip {
    padding-top: 10px;
}

.search-list li {
    display:inline;
    list-style-type: none;
    padding-right: 15px;
    font-size: 1.4em;
}

.copy-right-note {
    border-top: 1px solid #c8d6e5;
    padding: 20px;
    margin-top: 10px;
    color: #353b48;
}

.footer-menu-title {
    font-size:1.5em;
    line-height: 24px;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
}

.footer-menu-list{
    font-size: 1.2em;
    line-height: 20px;
    padding:5px;
}

.footer-menu-list li {
    list-style-type: none;
    padding: 10px 0;
}

.footer-menu-list li a:hover {
    text-decoration: none;
    color: #fff;
}

.footer-menu-list a:link, a:visited,a:active {
    text-decoration: none;
    color: #fff;
}


@media (min-width:768px) {
    .navbar {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 27px;
      font-size: 16px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
  }
}
